<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>twoWayBind</title>
</head>

<body>
  <div id="app">
    <h1>{{refMessage}}</h1>
    <input type="text" v-model="refMessage" />
    <br />
    <br />
    <br />
    <h1>{{reactiveMsg.text}}</h1>
    <input type="text" v-model="reactiveMsg.text" />

    <br />
    <br />
    <h1>Selected: {{refSelect}}</h1>
    <select v-model="refSelect">
      <option v-for="item of options">
        {{item}}
      </option>
    </select>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    const { ref, reactive } = Vue; // 有需要被監控的才要用這兩個包裝
    const App = {
      setup() {
        const refMessage = ref("Hello Vue!");
        const reactiveMsg = reactive({ text: "Hello Reactive Vue!" });
        const options = ['apple', 'banana']; // 不需要監聽就可以不用包
        const refSelect = ref('');
        return {
          refMessage,
          reactiveMsg,
          options,
          refSelect
        };
      },
    };
    Vue.createApp(App).mount("#app");
  </script>
</body>

</html>
